Port 2222
ListenAddress 0.0.0.0
HostKey /keys/ssh_host_ed25519_key
PermitRootLogin no
AllowUsers portfolio
PasswordAuthentication yes
PermitEmptyPasswords yes
KbdInteractiveAuthentication no
UsePAM no
PubkeyAuthentication no
PermitUserEnvironment no
PermitUserRC no
AllowAgentForwarding no
AllowTcpForwarding no
AllowStreamLocalForwarding no
X11Forwarding no
PermitTunnel no
GatewayPorts no
MaxSessions 1
MaxStartups 10:30:30
LoginGraceTime 20
ClientAliveInterval 60
ClientAliveCountMax 2
PrintMotd no
ForceCommand /usr/local/bin/portfolio-session
